@use "../globals/colors" as *;
@use "../globals/mixin" as *;
.faqs-box {
  margin: 50px 0 60px;
}
.general-texts.faq {
  padding-top: 90px;
  @include mobile {
    padding-top: 50px;
  }
}
.faq {
  font-family: "roboto", sans-serif;
  max-width: 100%;
  border-bottom: 2px solid #fff;
  cursor: pointer;
}
.question {
  background-color: #F4F4F8;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.question h4 {
  color: $primary-color;
}
.answer p {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  background-color: #fff;
  padding-top: 1rem;
  font-size: .9rem;
  line-height: 1.6;
}
.answer {
  max-height: 0;
  transition: 1.1s ease;
  overflow: hidden;
}
.faq.active .answer {
  max-height: 300px;
  animation: fade 1s ease-in-out;
}
.question>p {
  font-size: 1.2rem;
  margin-left:10px;
  color: $primary-color;
  transform: rotate(90deg);
  transition: .6s;
}
.faq.active .question p {
  transform: rotate(270deg);
}
@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform:translateY(0);
  }
}