@use "../globals/colors" as *;
@use "../globals/mixin" as *;
.news {
  background-color: #F4F4F8;
  padding-bottom: 50px;  
}
.news__list {
  &-item.new {
    padding-left: 0;
  }
  &-item {
    @include mobile {
      width: 100%;
    }
  }
}
// news page styles add "new" key word and change
.container-min.new {
  margin-top: 0;
  @include big-mobile {
    flex-direction: column-reverse;
  }
}
.doctor-img.new {
  .new-texts {
    transform: translateY(-103%);
    height:130px;
    width: 100%;
    background-color: rgba(#000,.4);
    h5 {
      color: #fff;
      margin: 0 10px;
    }
    div {
      padding: 22px 10px;
      span {
        padding: 7px 13px;
        font-size: 1rem;
        &:first-child {
          background-color: $primary-color;
          color:#AEC5CE;
        }
        &:nth-child(2) {
          background-color: #AEC5CE;
          color: $primary-color;
        }
      }
    }
    @include tablet {
      height: 90px;
      h5 {
        font-size: .8rem;
      }
      div {
        padding: 15px 10px;
        span {
          padding: 4px 6px;
          font-size: .8rem;
        } 
      }
    }
  }
}
.uk-grid.new {
  margin-left: 0;
}
.uk-slider-container.new {
  width: 100%;
}
li.news__list-item.new {
  list-style: none;
}
.news__list.new {
  width: 100%;
  margin-right: 0!important;
  padding-left: 0;
  display: flex;
  column-gap: 30px;
}
.general-dsc {
  width: 60%;
  color: $primary-color;
  margin-bottom: 50px;
}
.general-sup {
  margin-top: 50px;
  text-transform: uppercase;
}

.date {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $primary-color;
  padding: 7px 13px;
  p {
    font-weight: 900;
    color: #AEC5CE;
    font-size: 1.2rem;
  }
}

.news-dsc {
  padding: 20px 20px 40px;
  background-color: #fff;
  color: $primary-color;
  font-size: 1.4rem;
  font-weight: 700;
  &::after {
    content: "";
    width: 80px;
    height: 4px;
    background-color: #AEC5CE;
    display: block;
    margin-top: 12px;
  }
}
.news-dsc.surg-typ{
  font-size: 1.1rem;
  @include mobile {
    font-size: .8rem;
  }
}