.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1380px;
  @media  (max-width:1024px) {
    width: 85%;
  }
  @media (max-width:500px) {
    width: 90%;
  }
  @media (max-width:400px) {
    width: 95%;
  }
}
